# =========================
# DATA (DO NOT COMMIT)
# =========================
data/
credit card data/

# =========================
# MODELS / ARTIFACTS
# =========================
model/
*.pkl
*.parquet

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# STREAMLIT
# =========================
.streamlit/

# =========================
# NOTEBOOKS
# =========================
.ipynb_checkpoints/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db
